:root {
  --lineHeight: 26px;
  --fontSize: 14px;
  --webPercent: 40%;
  --mobilePercent: 80%;
  --lastRowWidth1: 0;
  --lastRowWidth2: 0;
  --lastRowWidth3: 0;
  --giftbox: 50px;
  --distance: 20px;
  --boxSecond: 0.3s;
  --largeRate: 1;
  --centerDistance: 0px;
  --mainHeight: 0px;
  --titleFontSize: 1.6em;
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  background-color: rgb(249, 246, 203);
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* android */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* IOS */
a:focus,
input:focus,
p:focus,
div:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

main {
  height: calc(100% + 1px);
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* overflow: hidden; */
  -webkit-overflow-scrolling: touch;
}

.article {
  width: var(--webPercent);
  letter-spacing: 0.15em;
  line-height: var(--lineHeight);
  font-size: var(--fontSize);
}

@media screen and (max-width: 560px) {
  .article {
    width: var(--mobilePercent);
  }
}

.assessment {
  margin-top: 20px;
}

.start,
.assessment>#title {
  margin-bottom: 6px;
}

/* 打字机typing */
#introduce>div,
#title,
#selfAssessment>div {
  width: 0;
  white-space: nowrap;
  border-right: .15em solid transparent;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typing_last_1 {
  from {
    width: 0;
  }

  to {
    width: var(--lastRowWidth1);
  }
}

@keyframes typing_last_2 {
  from {
    width: 0;
  }

  to {
    width: var(--lastRowWidth2);
  }
}

@keyframes typing_last_3 {
  from {
    width: 0;
  }

  to {
    width: var(--lastRowWidth3);
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000000af;
  }
}

@keyframes blink-close {
  from {
    border-right: .15em solid transparent;
  }

  to {
    border-right: none;
  }
}

#content {
  transition: opacity ease-in 1s;
}

/* gift礼物动画 */
.gift-box {
  margin-top: 40px;
  transition: opacity ease-in 1s, transform ease-out 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* opacity: 0; */
}

.gift-title {
  margin-bottom: 60px;
  perspective: 200px;
  width: 22em;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
}

.gift-title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(249, 246, 203);
  z-index: 1;
}

.gift-title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(249, 246, 203);
  z-index: 1;
}

.gift-title-content {
  height: 36px;
  transform-style: preserve-3d;
  text-align: center;
  transform-origin: center center -18px;
  transition: transform 2s ease 0.2s;
  font-size: 18px;
}

.gift-title-content-last {
  transform: rotateX(90deg);
}

.gift-title-content>#peroration {
  transform-origin: top;
  transform: rotateX(-90deg);
}

.gift {
  width: var(--giftbox);
  height: var(--giftbox);
  margin: calc(var(--distance) / 2);
  perspective: 130px;
  box-sizing: border-box;
  z-index: 20;
}

.gift li>.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--giftbox) * var(--largeRate));
  height: calc(var(--giftbox) * var(--largeRate));
  line-height: normal;
  background-color: rgb(255, 255, 255);
  transform: scale(calc(1 / var(--largeRate))) translateZ(0.5px);
  transform-origin: top left;
}

.gift>ul {
  width: var(--giftbox);
  height: var(--giftbox);
  position: relative;
  transform-style: preserve-3d;
}

.gift>ul>li {
  width: var(--giftbox);
  height: var(--giftbox);
  list-style: none;
  background-color: #D3706F;
  text-align: center;
  line-height: var(--giftbox);
  position: absolute;
}

.gift>ul>li:nth-of-type(2) {
  top: calc(-1 * var(--giftbox));
  transform-origin: bottom;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
}

.gift>ul>li:nth-of-type(2)>.ribbon {
  margin-top: calc(0.5 * var(--giftbox));
  transform-origin: top;
  transform: translateZ(-0.3px) rotateX(-90deg);
}

.gift>ul>li:nth-of-type(2)>.ribbon>div {
  width: calc(var(--giftbox));
  height: calc(0.26 * var(--giftbox));
  background: #FFC258;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.gift>ul>li:nth-of-type(2)>.ribbon>div::after {
  content: '';
  position: absolute;
  left: calc(var(--giftbox) * 0.1);
  bottom: calc(var(--giftbox) / -16);
  width: calc(0.3 * var(--giftbox));
  height: calc(0.3 * var(--giftbox));
  background-color: #EB725A;
  transform: rotate(45deg);
  border-radius: 4px;
}

.gift>ul>li:nth-of-type(2)>.ribbon>div::before {
  content: '';
  position: absolute;
  right: calc(var(--giftbox) * 0.1);
  bottom: calc(var(--giftbox) / -16);
  width: calc(0.3 * var(--giftbox));
  height: calc(0.3 * var(--giftbox));
  background-color: #EB725A;
  transform: rotate(45deg);
  border-radius: 4px;
}

.gift>ul>li:nth-of-type(2)>.ribbon i {
  display: block;
  width: calc(var(--giftbox) / 4.5);
  height: calc(var(--giftbox) / 4.5);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #D3706F;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(var(--giftbox) / -24);
}

.gift>ul>li:nth-of-type(3) {
  left: calc(-1 * var(--giftbox));
  transform-origin: right;
  transform: rotateY(90deg);
}

.gift>ul>li:nth-of-type(4) {
  left: var(--giftbox);
  transform-origin: left;
  transform: rotateY(-90deg);
}

.gift>ul>ul {
  position: absolute;
  top: var(--giftbox);
  width: var(--giftbox);
  height: calc(2 * var(--giftbox));
  transform-style: preserve-3d;
  transform-origin: top;
  transform: rotateX(90deg);
}

.gift>ul>ul>li {
  width: var(--giftbox);
  height: var(--giftbox);
  list-style: none;
  text-align: center;
  background-color: #D3706F;
  transform-style: preserve-3d;
  line-height: var(--giftbox);
  position: relative;
}

.gift>ul>ul>li:nth-of-type(2) {
  transform-origin: top;
  transform: rotateX(90deg);
}

.gift>ul>ul>li:nth-of-type(2)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(var(--giftbox) / 5);
  background-color: #E9B7B7;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.gift>ul>ul>li:nth-of-type(2)::before {
  content: '';
  position: absolute;
  width: calc(var(--giftbox) / 4.5);
  height: 100%;
  background-color: #FFC672;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.gift-box-translate {
  transform: translateY(-20vh);
}

@media screen and (max-width: 560px) {
  .gift-box-translate {
    transform: translateY(-60vh);
  }
}

.large-gift {
  transform: translateY(var(--centerDistance)) scale(var(--largeRate));
  transition: transform 1s ease-out calc(var(--boxSecond) / 2);
}

.open-gift>ul>li:nth-of-type(2) {
  animation: open_1 var(--boxSecond) forwards;
}

.open-gift>ul>li:nth-of-type(3) {
  animation: open_2 var(--boxSecond) forwards;
}

.open-gift>ul>li:nth-of-type(4) {
  animation: open_3 var(--boxSecond) forwards;
}

.open-gift>ul>ul,
.open-gift>ul>ul>li:nth-of-type(2) {
  animation: open_4 var(--boxSecond) forwards;
}

.small-gift {
  transition: transform 1s ease;
}

.close-gift>ul>li:nth-of-type(2) {
  animation: fold_1 var(--boxSecond) forwards;
}

.close-gift>ul>li:nth-of-type(3) {
  animation: fold_2 var(--boxSecond) forwards;
}

.close-gift>ul>li:nth-of-type(4) {
  animation: fold_3 var(--boxSecond) forwards;
}

.close-gift>ul>ul,
.close-gift>ul>ul>li:nth-of-type(2) {
  animation: fold_4 var(--boxSecond) forwards;
}

@keyframes open_1 {
  from {
    transform: rotateX(-90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes fold_1 {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}

@keyframes open_2 {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes fold_2 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
  }
}

@keyframes open_3 {
  from {
    transform: rotateY(-90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes fold_3 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-90deg);
  }
}

@keyframes open_4 {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes fold_4 {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(90deg);
  }
}

.gift-right {
  transform: translate(calc(var(--largeRate) * 100%), var(--centerDistance)) scale(var(--largeRate));
}

.gift-left-bottom {
  transform: translate(0, calc(var(--largeRate) * 100% + var(--centerDistance))) scale(var(--largeRate));
}

.gift-left-top {
  transform: translate(calc(var(--largeRate) * -100%), var(--centerDistance)) scale(var(--largeRate));
}

.gift-right-top {
  transform: translate(0, calc(var(--largeRate) * -100% + var(--centerDistance))) scale(var(--largeRate));
}

.gift-top {
  transform: translate(0, calc(var(--largeRate) * -200% + var(--centerDistance))) scale(var(--largeRate));
}

@font-face {
  font-family: 'brush-script-mt';
  src: url('../static/BRUSHSCI.ttf');
}

.article-end {
  margin-top: 80px;
  font-size: 40px;
  letter-spacing: 0.12em;
  font-family: 'brush-script-mt';
  transition: opacity ease-in 1s;
  opacity: 0;
}

.control-box {
  position: fixed;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity ease-in 1s;
  opacity: 0;
  z-index: 20;
}

.control-box>li {
  width: 16px;
  height: 16px;
  border: 2px solid rgb(63, 69, 83);
  border-radius: 50%;
  list-style: none;
  padding: 10%;
  box-sizing: border-box;
}

.control-box>li>div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.control-active {
  background-color: rgb(63, 69, 83);
}

.control-box>li+li {
  margin-top: 10px;
}

.fix {
  position: fixed;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.inner-first_title {
  font-size: var(--titleFontSize);
  margin-bottom: 3vh;
  text-align: left;
}

.inner-first_left {
  perspective: 14em;
}

.inner-first_left>.left-avatar>.avatar-box:hover::after {
  animation: glitch 1.4s steps(2, end);
}

.inner-first_left>.left-avatar>.avatar-box::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(95% -10px 0 0);
  --slice-2: inset(80% -15px 14% 0);
  --slice-3: inset(7% -10px 90% 0);
  --slice-4: inset(30% -18px 64% 0);
  --slice-5: inset(90% -10px 5% 0);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./img/avatar.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: var(--slice-0);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-2);
    transform: translate(-10px, -10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 10px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, -10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.inner-first_left>.left-avatar {
  border: 1px solid rgba(125, 124, 124, 0.3);
  margin-bottom: 40px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-out calc(var(--boxSecond) * 2);
}

.inner-first_left>.left-avatar-ani {
  transform: rotateY(5deg) scale(1.00001, 1);
}

.inner-first_left>.left-avatar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 16px;
  left: -16px;
  border: 1px solid rgba(125, 124, 124, 0.2);
  z-index: -1;
}

.inner-first_left>.left-avatar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 32px;
  left: -32px;
  border: 1px solid rgba(125, 124, 124, 0.1);
  z-index: -1;
}

.inner-first_left>.left-avatar>.avatar-box {
  transform: translate(16px, -16px);
  position: relative;
}

.inner-first_left>.left-avatar>.avatar-box>.avatar {
  width: 23vw;
  object-fit: contain;
  position: relative;
  user-select: none;
  pointer-events: none;
}

.inner-first_right {
  width: 34vw;
  line-height: 2.4em;
  margin-left: 15vw;
  margin-bottom: 40px;
  font-size: 1.2em;
}

#waveCanvas {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.gift li:nth-of-type(1)>.inner-box {
  background-image: linear-gradient(to top, rgb(241, 248, 248) 40%, rgb(238, 247, 252) 50%);
  margin-bottom: 30px;
}

.gift li:nth-of-type(2)>.inner-box {
  background-image: url('./img/background_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(var(--giftbox) * var(--largeRate) + 2px);
}

/* .gift li:nth-child(2)>.inner-box:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: inherit;
  filter: blur(2px);
  z-index: -1;
} */

.gift li:nth-of-type(3)>.inner-box {
  background-image: url('./img/background_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

/* .gift li:nth-child(3)>.inner-box:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: inherit;
  filter: blur(2px);
  z-index: -1;
} */

.gift li:nth-of-type(4)>.inner-box {
  background-image: url('./img/background_3.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.gift>ul>ul>li:nth-of-type(1)>.inner-box {
  background-image: url('./img/background_4.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.gift>ul>ul>li:nth-of-type(2)>.inner-box {
  background: url('./img/background_5.jpeg'), linear-gradient(-12deg, white, rgba(255, 255, 255, 0) 76%);
  background-color: #77a4d7;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gift>ul>ul>li:nth-of-type(2)>.inner-box:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(-10deg, rgb(255, 255, 255), white 54%, rgba(255, 255, 255, 0) 76%, rgba(255, 255, 255, 0));
  z-index: -1;
}

.target-event {
  text-decoration: none;
  color: rgb(255, 109, 5);
  word-break: break-all;
  text-align: right;
}

.inner-first {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 48px;
}

@media screen and (max-width: 560px) {
  main {
    padding-top: 90px;
  }

  .gift>ul>ul>li:nth-of-type(2)>.inner-box {
    background-position: top;
  }

  .inner-first {
    flex-direction: column;
    padding: 24vh 48px 2vh;
    height: calc(var(--giftbox) * var(--largeRate));
  }

  .inner-first_left>.left-avatar>.avatar-box>.avatar {
    width: 60vw;
    object-fit: contain;
    position: relative;
  }

  .inner-first_left>.left-avatar-ani {
    transform: none;
  }

  .inner-first_right {
    width: 80vw;
    font-size: var(--fontSize);
    margin-top: 20px;
    margin-left: 0;
  }

  .inner-first_left>.left-avatar {
    margin-right: 20px;
  }
}

.inner-third {
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 48px 0;
}

.inner-third_left {
  width: 34vw;
  text-align: left;
  float: left;
}

.inner-third_left>.inner-third_left-title {
  margin-bottom: 26px;
}

.inner-title {
  padding-left: 1.4em;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(111, 147, 162, 0.549);
  position: relative;
  font-size: var(--titleFontSize);
  text-align: left;
}

.inner-title::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: -1px;
  border: 6px solid #F6F8FA;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: translate-icon 1s infinite;
}

.inner-title::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 12px solid #000;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: translate-icon 1s infinite;
}

@keyframes translate-icon {
  0% {
    transform: translateX(0);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  50% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0px);
    -webkit-animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
}

.inner-third_left>.inner-third_left-content {
  line-height: 1.8em;
}

.inner-third>.inner-third_left .inner-third_left-item {
  padding-left: 1.6em;
  position: relative;
}

.inner-third>.inner-third_left .inner-third_left-item::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
}

.inner-third_left-item+.inner-third_left-item {
  margin-top: 12px;
}

.inner-third_right {
  margin-left: 15vw;
  float: left;
}

.inner-third_right>.inner-third_right-title {
  margin-bottom: 30px;
}

.inner-third_right>.inner-third_right-title::after {
  border-left-color: #E8EFF7;
}

.inner-third_right>.inner-third_content {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .1), 0px 0px 0px rgb(255, 255, 255), inset 18px 18px 12px rgba(0, 0, 0, .1), inset -18px -14px 12px rgb(232, 241, 247);
  display: grid;
  grid-template-columns: repeat(2, 134px);
  grid-template-rows: repeat(4, 128px);
  padding: 22px 20px 8px;
  box-sizing: border-box;
}

.inner-third_content>.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-third_content>.icon-box>.icon-style {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeeee;
  box-shadow: 14px 14px 30px rgba(0, 0, 0, .1), -14px -14px 30px rgb(245, 247, 248);
  transition: box-shadow 0.2s ease-out;
  border-radius: 12px;
  cursor: pointer;
}

.inner-third_content>.icon-box>.icon-name {
  margin-top: 10px;
  font-size: 0.9em;
  color: rgb(65, 79, 93);
}

.inner-third_content>.icon-box>.icon-style>img {
  width: 48px;
  transition: width .2s ease-out;
}

.inner-third_content>.icon-box>.icon-style:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .1), 0px 0px 0px rgba(255, 255, 255, 1), inset 18px 18px 30px rgba(123, 123, 123, 0.1), inset -18px -18px 30px rgba(255, 255, 255, 1);
  transition: box-shadow .2s ease-out;
}

.inner-third_content>.icon-box>.icon-style:hover img {
  width: 50px;
  transition: width .2s ease-out;
}

@media screen and (max-width: 560px) {
  .inner-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
    height: calc(var(--giftbox) * var(--largeRate));
  }

  .inner-third_left {
    width: 80vw;
  }

  .inner-third_left,
  .inner-third_right {
    float: none;
  }

  .inner-third_left>.inner-third_left-title,
  .inner-third_right>.inner-third_right-title {
    margin-bottom: 20px;
  }

  .inner-third_right {
    margin-left: 0;
    margin-top: 30px;
    width: 80vw;
  }

  .inner-third_content>.icon-box>.icon-style {
    width: 36px;
    height: 36px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .1), -6px -6px 10px rgb(245, 247, 248);
  }

  .inner-third_content>.icon-box>.icon-style>img {
    width: 26px;
    transition: width .2s ease-out;
  }

  .inner-third_content>.icon-box>.icon-style:hover img {
    width: 28px;
  }

  .inner-third_right>.inner-third_content {
    grid-template-columns: repeat(4, calc((100% - 8px) / 4));
    grid-template-rows: repeat(2, 70px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .1), 0px 0px 0px rgb(255, 255, 255), inset 6px 6px 4px rgba(0, 0, 0, .1), inset -6px -6px 4px rgb(236, 242, 245);
    padding: 12px 0 8px;
  }

  .inner-third_content>.icon-box>.icon-name {
    font-size: 0.6em;
  }
}

.inner-second {
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 48px;
  width: 60vw;
}

.inner-second>.inner-second_title {
  width: 100%;
  margin-bottom: 26px;
  box-sizing: border-box;
}

.inner-second>.inner-second_title::after {
  border-left-color: #D4DAD9;
}

.inner-second>.inner-second_content {
  width: 100%;
}

.inner-second>.inner-second_content>.inner-second_item {
  display: flex;
  padding-bottom: 20px;
  border-left: 4px solid #7b7b7b;
  padding-left: 34px;
  position: relative;
  margin-left: 8px;
  font-size: 1.6em;
}

.inner-second>.inner-second_content>.inner-second_item>.inner-second_item-time {
  white-space: nowrap;
  margin-top: -9px;
  text-align: left;
}

.inner-second>.inner-second_content>.inner-second_item::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -9px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #000;
}

.inner-second>.inner-second_content>.inner-second_item:last-child {
  border-left-color: transparent;
}

.inner-second>.inner-second_content>.inner-second_item>.inner-second_item-content {
  text-align: left;
  margin-left: 48px;
  margin-top: -9px;
}

.inner-second_item-content>.inner-second_item-company {
  font-size: 1.1rem;
  line-height: 2rem;
  color: #373737;
}

.inner-second_item-content>.inner-second_item-detail {
  position: relative;
  padding-left: 30px;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #4b4b4b;
}

.inner-second_item-content>.inner-second_item-detail::after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-index);
}

@media screen and (max-width: 560px) {
  .inner-second {
    width: 80vw;
    height: 100%;
    padding: 48px 0;
  }

  .inner-second>.inner-second_content>.inner-second_item {
    display: block;
    padding-left: 20px;
  }

  .inner-second>.inner-second_content>.inner-second_item>.inner-second_item-content {
    margin: 0;
    margin-top: 6px;
    font-size: 1.1rem;
  }

  .inner-second>.inner-second_content>.inner-second_item>.inner-second_item-time {
    margin-top: 0;
    line-height: 1.3rem;
    transform: translateY(-3px);
  }

  .inner-second>.inner-second_content>.inner-second_item {
    font-size: 1.5em;
  }

  .inner-second_item-content>.inner-second_item-company {
    font-size: 1rem;
  }

  .inner-second_item-content>.inner-second_item-detail {
    font-size: var(--fontSize);
    padding-left: 20px;
    line-height: 1.4rem;
  }
}

.inner-fourth {
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 48px;
  width: 60vw;
}

.inner-fourth_title::after {
  border-left-color: #EFEFEF;
}

.inner-fourth_content {
  margin-top: 26px;
}

.inner-fourth_content>.inner-fourth_item {
  display: flex;
}

.inner-fourth_item+.inner-fourth_item {
  margin-top: 26px;
}

.inner-fourth_content>.inner-fourth_item>.inner-fourth_item-left {
  width: 5em;
  height: 5em;
  border-radius: 12px;
}

.inner-fourth_content>.inner-fourth_item>.inner-fourth_item-right {
  text-align: left;
  padding-left: 27px;
  margin-left: 27px;
  border-left: 6px solid rgba(223, 223, 223, .6);
}

.item-right-info+.item-right-info {
  margin-top: 10px;
}

.inner-fourth_item>.inner-fourth_item-right>.item-right-name {
  font-size: 2em;
  margin-bottom: 1rem;
}

.inner-fourth_item>.inner-fourth_item-right>.item-right-name>.inner-fourth_item-left_mobile{
  display: none;
  width: 3em;
  height: 3em;
  border-radius: 12px;
  margin-left: 1em;
}

.inner-fourth_item-right>.item-right-info>.item-right-title {
  font-size: 1.4em;
}

.inner-fourth_item-right>.item-right-info>.item-right-content {
  font-size: 1rem;
  margin-top: 4px;
  color: rgb(75, 75, 75);
}

.inner-fourth_item-right>.item-right-info>.item-right-content>.keypoint-item {
  padding-left: 30px;
  line-height: 1.4rem;
  position: relative;
}

.inner-fourth_item-right>.item-right-info>.item-right-content>.keypoint-item::after {
  content: attr(data-index);
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 560px) {
  .inner-fourth {
    width: 80vw;
    height: 100%;
    padding: 48px 0;
  }

  .inner-fourth_content>.inner-fourth_item>.inner-fourth_item-left {
    display: none;
  }

  .inner-fourth_content>.inner-fourth_item>.inner-fourth_item-right {
    margin-left: 0;
    padding-left: 16px;
  }

  .inner-fourth_item>.inner-fourth_item-right>.item-right-name {
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .inner-fourth_item>.inner-fourth_item-right>.item-right-name>.inner-fourth_item-left_mobile {
    display: inline-block;
  }

  .inner-fourth_item-right>.item-right-info>.item-right-title {
    font-size: 1.2em;
  }

  .inner-fourth_item-right>.item-right-info>.item-right-content {
    font-size: var(--fontSize);
  }
}

.inner-fifth {
  overflow: auto;
  height: 100vh;
  box-sizing: border-box;
  padding: 48px;
  width: 60vw;
}

.inner-fifth_title::after {
  border-left-color: #EFEFEF;
}

.inner-fifth_content {
  margin-top: 26px;
}

.inner-fifth_content>.inner-fifth_item {
  display: flex;
}

.inner-fifth_item+.inner-fifth_item {
  margin-top: 26px;
}

.inner-fifth_content>.inner-fifth_item>.inner-fifth_item-right {
  text-align: left;
  padding-left: 27px;
  border-left: 6px solid rgba(223, 223, 223, .6);
}

.item-right-info+.item-right-info {
  margin-top: 10px;
}

.inner-fifth_item>.inner-fifth_item-right>.item-right-name {
  font-size: 2em;
  margin-bottom: 1rem;
}

.inner-fifth_item-right>.item-right-info>.item-right-title {
  font-size: 1.4em;
}

.inner-fifth_item-right>.item-right-info>.item-right-content {
  font-size: 1rem;
  margin-top: 4px;
  color: rgb(75, 75, 75);
}

.inner-fifth_item-right>.item-right-info>.item-right-content>.keypoint-item {
  padding-left: 30px;
  line-height: 1.4rem;
  position: relative;
}

.inner-fifth_item-right>.item-right-info>.item-right-content>.keypoint-item::after {
  content: attr(data-index);
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 560px) {
  .inner-fifth {
    width: 80vw;
    height: 100%;
    padding: 48px 0;
  }

  .inner-fifth_content>.inner-fifth_item>.inner-fifth_item-right {
    padding-left: 16px;
  }

  .inner-fifth_item>.inner-fifth_item-right>.item-right-name {
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .inner-fifth_item-right>.item-right-info>.item-right-title {
    font-size: 1.2em;
  }

  .inner-fifth_item-right>.item-right-info>.item-right-content {
    font-size: var(--fontSize);
  }
}


/* flex自定义class */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col-between {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-col-around {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.items-center {
  display: flex;
  align-items: center;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.items-start {
  display: flex;
  align-items: flex-start;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.items-end {
  display: flex;
  align-items: flex-end;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.white-nowrap {
  white-space: nowrap;
}

/* flex自定义class */